.jumbotron {
    background-color: #292e33;
    border-radius: 0;
    padding: 6rem 10% 3rem;
    margin-bottom: 0;
}

.title {
    color: white;
}

.emphasis {
    color: #51a3ff;
}

.subtitle {
    color: #9ba1a9;
}