.result-card {
    display: flex;
    margin: 2rem 0;
    background-color: white;
    padding: 2rem;
}

.result-image {
    width: 20%;
}

.book-image {
    width: 100%;
    object-fit: cover;
}

.book-information {
    width: 80%;
    margin-left: 3rem;
}